<div class="container">
    <div class="row">
        <div class="col-6 d-flex flex-column justify-content-center">
            <h1 class="helping">Helping a local</h1>
            <h1 class="besiness">besiness reinvent itself</h1>
            <p class="text-black-50">we reached here with our hard work and dedication</p>
        </div>
        <div class="col-6">
            <div class="stats mb-3">
                <div class="row">
                    <div class="stat">
                        <div>
                            <i class=" fa-solid fa-users icon"></i>
                        </div>
                        <div>
                            <h2>83,345</h2>
                            <p>Members</p>
                        </div>
                    </div>
                    <div class="stat">
                        <div>
                            <i class="fa-solid fa-calendar-week icon"></i>
                        </div>
                        <div>
                            <h2>828,867</h2>
                            <p>Event Bookings</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stat">
                        <div>
                            <i class="fa-solid fa-circle-nodes icon"></i>
                        </div>
                        <div>
                            <h2>2033</h2>
                            <p>Hospitals</p>
                        </div>
                    </div>
                    <div class="stat">
                        <div>
                            <i class="fa-solid fa-credit-card icon"></i>
                        </div>
                        <div>
                            <h2>1,926,436</h2>
                            <p>Payments</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>