<!-- <div class="navbar">

    <ul>
        <li>
            <a href="#">
                <i class="fa-solid fa-moon" style="color: #33D1CC;"></i>
            </a>
        </li>
        <li><a href="#">AR</a></li>
    </ul>
    <div class="nav">
        <li>
            <a href="#" class="logo"><img src="../../assets/logo 4 copy 2.png" alt="LOGO"></a>
        </li>
        <ul>
            <li><a href="#" class="nav-links"><i class="fa-solid fa-house"></i>Home </a></li>
            <li><a href="#" class="nav-links"><i class="fa-solid fa-address-card"></i>About Us</a></li>
            <li><a href="#" class="nav-links"><i class="fa-solid fa-hospital"></i>Hospitals</a></li>
            <li><a href="#" class="nav-links"><i class="fa-solid fa-list"></i>  Category</a></li>
        </ul>
    </div>
    <div class="nav-btn">
        <button>log in</button>
    </div>
</div> -->


<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">

        <a class="navbar-brand" href="#">
            <i class="fa-solid fa-moon"></i>
        </a>
        <div class="EN">
            <p>EN</p>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main" aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa-solid fa-bars-staggered"></i>
    </button>
        <div class="collapse navbar-collapse row " id="main">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <div class="search ps-3 pe-3 d-nane d-lg-block col-2">
                </div>
                <li class="nav-item text-center col-2">
                    <a href="#" class="nav-links"><i class="fa-solid fa-house p-2"></i>Home </a>
                </li>

                <li class="nav-item col-2">
                    <a href="#" class="nav-links"><i class="fa-solid fa-address-card p-2"></i>About Us</a>
                </li>
                <li class="nav-item col-2">
                    <a href="#" class="nav-links"><i class="fa-solid fa-hospital p-2"></i>Hospitals</a>
                </li>
                <li class="nav-item col-2">
                    <a href="#" class="nav-links"><i class="fa-solid fa-list p-2"></i>  Category</a>
                </li>




            </ul>

        </div>
        <a class="btn btn-primary rounded-pill main-btn" href="#">login</a>
    </div>

</nav>