<div class="navbar">

  <ul>
    <li><a href="#">
      <i class="fa-solid fa-moon" style="color: #33D1CC;"></i>
    </a></li>
    <li><a href="#" >AR</a></li>
  </ul>
<div class="nav">
  <li><a href="#" class="logo"><img src="../../assets/logo 4 copy 2.png" alt="LOGO"></a></li>
  <ul>
  <li><a href="#" class="nav-links"><i class="fa-solid fa-house"></i>   Home </a></li>
  <li><a href="#" class="nav-links"><i class="fa-solid fa-address-card"></i>   About Us</a></li>
  <li><a href="#" class="nav-links"><i class="fa-solid fa-hospital"></i>   Hospitals</a></li>
  <li><a href="#" class="nav-links"><i class="fa-solid fa-list"></i>   Category</a></li>
</ul>
</div>
<div class="nav-btn">
  <button>log in</button>
</div>
</div>

