<!-- <div class="flex flex-column md:flex-row">
    <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="flex flex-wrap justify-content-center align-items-center gap-2">

                <label class="w-6rem">Username</label>
                <input pInputText id="username" type="text" formControlName="nationalNum" class="w-12rem" />

            </div>
            <div class="flex flex-wrap justify-content-center align-items-center gap-2">
                <label class="w-6rem">Password</label>
                <input pInputText id="password" type="password" formControlName="password" class="w-12rem" />
            </div>
            <p-button label="Login" icon="pi pi-user" type="submit" styleClass="w-10rem mx-auto"></p-button>
        </form>
    </div>
</div> -->
<p-toast></p-toast>
<div class="Login" >
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1 style="color: white;">Login</h1>

        <div class="form-input-material">
            <input pInputText type="text" name="nationalNum" id="nationalNum" formControlName="nationalNum" placeholder=" " autocomplete="off" class="form-control-material" required />
            <label for="nationalNum">National Number</label>
        </div>
        <div class="form-input-material">
            <input pInputText type="password" name="password" id="password" formControlName="password" placeholder=" " autocomplete="off" class="form-control-material" required />
            <label for="password">Password</label>
        </div>
        <button type="submit" class="btn btn-primary btn-ghost">Login</button>
      
    </form>
   
</div>

