
<div class="grid">
  <div class="col-12">
      <div class="card px-6 py-6">
          <p-toast></p-toast>
          <p-toolbar styleClass="mb-4">
              <ng-template pTemplate="left">
                  <div class="my-2">
                      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length"></button>
                  </div>
              </ng-template>

              <ng-template pTemplate="right">
                <!-- [maxFileSize]="1000000" -->
                  <!-- <input   mode="basic" type="file" accept="image/*"  label="Import" chooseLabel="Import" class="mr-2 inline-block btn btn-primary" (change)="onFileSelected($event)"> -->
                  <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
              </ng-template>
          </p-toolbar>

          <p-table #dt [value]="ItemsList" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedItems" selectionMode="multiple" [rowHover]="true" dataKey="id">
              <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                      <h5 class="m-0">Manage Items</h5>
                      <span class="block mt-2 md:mt-0 p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                      </span>
                  </div>
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                      <th *ngFor="let col of cols" pSortableColumn="{{col.field}}"> {{col.header|translate}} <p-sortIcon field="{{col.field}}"></p-sortIcon></th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-Item >
                  <tr >
                      <td>
                          <p-tableCheckbox [value]="Item"></p-tableCheckbox>
                      </td>
                      <td  style="width:14%; min-width:10rem;" *ngFor="let col of cols" ><span class="p-column-title"> {{ Item[col.field]}}</span>

                        {{ Item[col.field]}}
                      </td >

                      <td>
                          <div class="flex">
                              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editItem( Item.id)"></button>
                              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteItem(Item)"></button>
                          </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
      <p-dialog [(visible)]="AddDialog"   [style]="{width: '450px'}"  [modal]="true" class="p-fluid">
        <!-- {{selectedItem|json}} -->
<ng-template >Add</ng-template>
        <div class="app">
          <dynamic-form
            [config]="configInput"
            #form="dynamicForm"
          >
          </dynamic-form>

        </div>


          <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
              <button pButton pRipple label="Add" icon="pi pi-check" class="p-button-text"  (click)="saveItem( form.value)"></button>
          </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="UpdateDialog"   [style]="{width: '450px'}"  [modal]="true" class="p-fluid">
        <!-- {{selectedItem|json}} -->
<ng-template >Edit</ng-template>
        <div class="app">
          <dynamic-form
            [config]="configInput"
            #form="dynamicForm"
          >
          </dynamic-form>

        </div>


          <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
              <button pButton pRipple label="Edit" icon="pi pi-check" class="p-button-text"  (click)="UpdateItem( form.value)"></button>
          </ng-template>
      </p-dialog>

       <p-dialog [(visible)]="deleteItemDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span *ngIf="Item">Are you sure you want to delete ?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteItemDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
          </ng-template>
      </p-dialog>

     <p-dialog [(visible)]="deleteItemsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span>Are you sure you want to delete selected Items?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteItemsDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
          </ng-template>
      </p-dialog>
  </div>
</div>


