
<div class="grid">
  <div class="col-12">
      <div class="card px-6 py-6">
          <p-toast></p-toast>
          <p-toolbar styleClass="mb-4">
              <ng-template pTemplate="left">
                  <div class="my-2">
                      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length"></button>
                  </div>
              </ng-template>

              <ng-template pTemplate="right">
                  <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                  <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
              </ng-template>
          </p-toolbar>

          <p-table #dt [value]="ItemsList" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedItems" selectionMode="multiple" [rowHover]="true" dataKey="id">
              <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                      <h5 class="m-0">Manage Items</h5>
                      <span class="block mt-2 md:mt-0 p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                      </span>
                  </div>
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                      <th *ngFor="let col of cols" pSortableColumn="{{col.field}}">{{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon></th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-Item >
                  <tr >
                      <td>
                          <p-tableCheckbox [value]="Item"></p-tableCheckbox>
                      </td>
                      <td  style="width:14%; min-width:10rem;" *ngFor="let property of getObjectProperties(Item)" ><span class="p-column-title"> {{ Item[property.name]}}</span>
                       {{ Item[property.name]}}
                      </td >

                      <td>
                          <div class="flex">
                              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editItem(Item)"></button>
                              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteItem(Item)"></button>
                          </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>

       <!-- <p-dialog [(visible)]="ItemsDialog" [style]="{width: '450px'}" header="Item Details" [modal]="true" class="p-fluid">
          <ng-template pTemplate="content">
              <img [src]="'assets/demo/images/Item/' + Item.image" [alt]="Item.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="Item.image">
              <div class="field">
                  <label for="name">Name</label>
                  <input type="text" pInputText id="name" [(ngModel)]="Item.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Item.name}"/>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && !Item.name">Name is required.</small>
              </div>
              <div class="field">
                  <label for="description">Description</label>
                  <textarea id="description" pInputTextarea [(ngModel)]="Item.description" required rows="3" cols="20"></textarea>
              </div>
              <div class="field">
                  <label for="status">Inventory Status</label>
                  <p-dropdown [(ngModel)]="Item.inventoryStatus" inputId="inventoryStatus" optionValue="label" [options]="statuses" placeholder="Select">
                      <ng-template pTemplate="selectedItem">
                          <span *ngIf="Item && Item.inventoryStatus" [class]="'Item-badge status-' + Item.inventoryStatus.toString().toLowerCase()">{{Item.inventoryStatus}}</span>
                      </ng-template>
                      <ng-template let-option pTemplate="item">
                          <span [class]="'Item-badge status-' + option.value">{{option.label}}</span>
                      </ng-template>
                  </p-dropdown>
              </div>

              <div class="field">
                  <label class="mb-3">Category</label>
                  <div class="formgrid grid">
                      <div class="field-radiobutton col-6">
                          <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="Item.category"></p-radioButton>
                          <label for="category1">Accessories</label>
                      </div>
                      <div class="field-radiobutton col-6">
                          <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="Item.category"></p-radioButton>
                          <label for="category2">Clothing</label>
                      </div>
                      <div class="field-radiobutton col-6">
                          <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="Item.category"></p-radioButton>
                          <label for="category3">Electronics</label>
                      </div>
                      <div class="field-radiobutton col-6">
                          <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="Item.category"></p-radioButton>
                          <label for="category4">Fitness</label>
                      </div>
                  </div>
              </div>

              <div class="formgrid grid">
                  <div class="field col">
                      <label for="price">Price</label>
                      <p-inputNumber id="price" [(ngModel)]="Item.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                  </div>
                  <div class="field col">
                      <label for="quantity">Quantity</label>
                      <p-inputNumber id="quantity" [(ngModel)]="Item.quantity"></p-inputNumber>
                  </div>
              </div>
          </ng-template>

          <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
              <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
          </ng-template>
      </p-dialog>  -->

       <p-dialog [(visible)]="deleteItemDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span *ngIf="Item">Are you sure you want to delete ?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteItemDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
          </ng-template>
      </p-dialog>

     <p-dialog [(visible)]="deleteItemsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span>Are you sure you want to delete selected Items?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteItemsDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
          </ng-template>
      </p-dialog>
  </div>
</div>


