<div class="Whoweare">
    <div class="container">
        <div class="row">
            <h3 class="who mt-3">~ WHO WE ARE</h3>
        </div>
        <div class="row">
            <div class="col-8 mt-5">
                <h1 class="text-light">We Help To Get You Well</h1>
                <p class="text-light">Our goal is always to fully cover the treatment of our patients as the largest and most important private hospital group in Egypt. So we began to improve our services and quality, improve the administrative aspect of supervising operations,
                    improve the experience of our patients, and provide efficiency in general, which made us one of the first health care providers in Egypt.</p>
            </div>
            <div class="col-4">
                <div class="box mt-3"> <img class="img-fluid" src="../../../../assets/Home/Index/patient-cuate.png" alt=""></div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="box mt-3 "> <img class="img-fluid" src="../../../../assets/Home/Index/Hospital building-rafiki.png" alt=""></div>
            </div>
            <div class="col-8 mt-5">
                <p class="text-light">Since we founded the Application in 2023, we have had a set of goals to achieve in the short and long term to be the largest hospital group in Egypt. Increase capacity with the aim of serving and providing high quality care at affordable
                    prices to as many people as possible Providing a uniform quality of care across all our facilities, so that our patients can be confident that they will receive the best care in any of our facilities, by standardizing the quality of
                    equipment, services and staff training in all hospitals, and attracting the most qualified doctors. Obtaining international accreditation and establishing centers of excellence in all our hospitals, which helped improve the quality
                    of medical services and provide outstanding results for our patients Significantly expanding our hospital and feeder network over the past two years through a solid strategy to continually improve our patients' experience</p>
            </div>
        </div>
        <div class="button">
            <a class="btn btn-primary rounded-pill main-btn mb-3" href="#">About Us</a>
        </div>
    </div>
</div>