<div class="v">
    <ul class="nav nav-pills d-flex justify-content-center align-content-center ">
        <li class="nav-item ">
            <a class="nav-link " href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item c" style=" border-radius: 50px; background-color: white;">
            <img src="../assets/logo 4 copy (1).png" alt="habal" class="img-fluid">
        </li>
    </ul>
</div>