<div class="footer">
    <div class="container">
        <h1 class="display-4">Healthy care</h1>
        <p class="p-footer">This service uses cookies. By visiting the site, you agree to the use of cookies more information.</p>
    </div>
    <div class="container ffoter">
        <div class="col-md-12 col-lg-4">
            <h2 class="h-footer">Quick Links</h2>
            <ul class="p-footer">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Works</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-4">
            <h2 class="h-footer">Contact Info</h2>
            <p class="p-footer">0665 Broadway, New York 10001 NY / USA</p>
            <p class="p-footer">800 123 4567</p>
            <p class="p-footer">hello.com</p>
        </div>
        <div class="col-md-12 col-lg-4">
            <h2 class="h-footer">Subscribe</h2>
            <div>
                <div class="form-group">
                    <label for="email">Your email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your email">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary subscribe mt-3">Subscribe</button>
                </div>
            </div>

        </div>
    </div>