<div class="healthy">
    <div class="container">
        <div class="main-title  text-center mt-5 mb-5 position-relative">

            <h2 class="Together">Together for better health</h2>
            <p class="text-black-50 text-uppercase">The GOOD HEALTHY</p>
        </div>
        <p class="desc text-center mb-5 text-black-50 m-auto">
            Access to healthcare may vary across countries, communities, and individuals, influenced by social and economic conditions as well as health policies
        </p>
        <div class="row">
            <div class=" item7 col-md-4   pict">
                <img src="../../../../assets/Home/Index/back-view-doctors-holding-new-born-baby.jpg" class="card-img-top " alt="...">
                <div class="translate-middle-y bg-white w-50 kk btn-shadow">
                    <p class="pra">A healthy mind in a healthy body</p>
                </div>

            </div>
            <div class=" item7 col-md-4   pict">
                <img src="../../../../assets/Home/Index/hands-unrecognizable-female-doctor-writing-form-typing-laptop-keyboard.jpg" class="card-img-top " alt="...">
                <div class="translate-middle-y bg-white w-50 kk btn-shadow">
                    <p class="pra">Your health is better than anything</p>
                </div>

            </div>
            <div class=" item7 col-md-4  pict">
                <img src="../../../../assets/Home/Index/two-doctors-lab.jpg" class="card-img-top " alt="...">
                <div class="translate-middle-y bg-white w-50 kk btn-shadow">
                    <p class="pra">Many years of experience</p>
                </div>

            </div>
        </div>
    </div>
</div>