<div class="g d-flex 
align-content-space-around; 
justify-content-center row">
    <div class="col-4">


    </div>
    <div class="img-container col-8" #useThisTemplateVar>
        <div class="box">
            <img src="../assets/pexels-zakir-rushanly-11661531 (1).jpg" alt="" />
        </div>
        <div class="box">
            <img src="../assets/pexels-pixabay-236380.jpg" alt="" />
        </div>
        <div class="box">
            <img src="../assets/pexels-carloscruz-artegrafia-11198236.jpg" alt="" />
        </div>
        <div class="box">
            <img src="../assets/pexels-shvets-production-8413299.jpg" alt="" />
        </div>
        <div class="box">
            <img src="../assets/pexels-chokniti-khongchum-2280571.jpg" alt="" />
        </div>
        <div class="box">
            <img src="../assets/pexels-jonathan-borba-3279196.jpg" alt="" />
        </div>
    </div>
</div>